/* <div class="outer one">
  <div class="inner"></div>
</div>
<div class="outer">
  <div class="inner"></div>
</div>
<div class="block">
  
</div>
<style> */
  body {
    background: #2F5A76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .outer {
    background: #7EA6DD;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner {
    background: #2F5A76;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .one {
    margin-bottom: -20px;
    margin-top: 33px;
  }
  .block {
    background: #2F5A76;
    width: 60px;
    height: 100px;
    margin-top: -160;
    margin-right: 60px;
  }
/* </style> */