* {
    margin: 0px;
    padding: 0px;
}
.nav-bar {
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav {
    background-color: black;
    width: 100%;
    height: 5vh;
    border-radius: 25px;
}

li {
    margin-top: 5px;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: yellow;
}